body{
    background-color: #fafafa;
}
.col-12 {
    margin-bottom: 2rem;
    margin-left: 0;
}

.card-title {
    padding-left: 0;
}

.like-post:hover {
    color: var(--blue);
    cursor: pointer;
}

.post{
    -webkit-box-shadow: 4px 4px 7px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 7px -6px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 7px -6px rgba(0,0,0,0.75);
}

.card-body p {
    color: var(--blue);
    cursor: pointer;
}

.img-rounded{
    border-radius: .25rem .25rem 0 0;
}

.nav-link{
    color: black;
}

.active{
    color: black;
    border-bottom: 1px solid rgba(255, 185, 80);
}
